<div class="container d-flex">
<div class="container col-md-5 offset-md-1">
  <% if @error_message %>
    <p class="error_message"><%= @error_message %></p>
  <% end %>

  <div class="form-dropdown-container">
    <div class="button-container-dropdown">
      <h2><%= @cocktail.name %> </h2>
      <div class="dropdown-open-button dropdown-btn-text">(edit)</div>
    </div>
    <div class="form-dropdown">
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: "Name of your cocktail"  %>
      <%= f.input :description, label: "Amount" %>
      <%= f.button :submit, "Update Cocktail", class:'btn btn-primary' %>
      <% end %>
      <div class="button-container-dropdown dropdown-close">
        <div class="dropdown-btn-text">(close panel)</div>
        <div class="dropdown-close-button">-</div>
      </div>
    </div>
  </div>




  <p class="cocktail-description"><%= @cocktail.description %></p>
  <h4 class="mt">Ingredients</h4>
  <ul>
    <% @doses.each do |d|  %>
    <li> <%= d.ingredient.name %> - <%= d.description %>   <%= link_to '(delete)', dose_path(d.id), method: :delete, class: "dropdown-btn-text" %>
</li>
    <% end %>
  </ul>
  <div class="form-dropdown-container">
    <div class="button-container-dropdown">
      <div class="dropdown-open-button">+</div>
      <div class="dropdown-btn-text">(add ingredient)</div>
    </div>
    <div class="form-dropdown">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: @ingredients, selected: 0, label: "Ingredient"  %>
      <%= f.input :description, label: "Amount" %>
      <%= f.button :submit, "Add Ingredient", class:'btn btn-primary' %>
      <% end %>
      <div class="button-container-dropdown dropdown-close">
        <div class="dropdown-btn-text">(close panel)</div>
        <div class="dropdown-close-button">-</div>
      </div>
    </div>
  </div>


</div>
  <div class="container col-md-5">
    <div class="cocktail_image_show" style="background-image: url(<%= @cocktail.image %>)">
    </div>

  </div>

</div>
